In [9]:
import geocoder
import pandas as pd
import numpy as np
import requests

In [24]:
link = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
Wiki = requests.get(link)

wiki_data = pd.read_html(Wiki.content)[0]
df = wiki_data[wiki_data.Borough != 'Not assigned']
df.reset_index(inplace = True)
df.drop('index',axis=1,inplace = True)
grouped_df = df.groupby("Postal Code").agg({'Borough' : 'first','Neighbourhood' : ','.join})
df.reset_index(inplace=True)
df.drop('index',axis=1,inplace = True)
ind=df['Neighbourhood'] == 'Not assigned'
df.loc[1,'Neighbourhood']=df.loc[1,'Borough']
df.head()

c:\users\s.yazdanisangdeh\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                                   North York
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [25]:
dfNew = pd.read_csv("https://cocl.us/Geospatial_data")
dfNew.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
print("The shape of wiki data: ", df.shape)
print("the shape of new data: ", dfNew.shape)

The shape of wiki data:  (103, 3)
the shape of new data:  (103, 3)

In [27]:
df = df.join(dfNew.set_index('Postal Code'), on='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,North York,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [28]:
df.shape

(103, 5)